#MetadataEditorAttributeEntryEmpty {
  background: #FFFFFF;
}

#MetadataEditorAttributeEntryRight {
  background: #00FF00;
}

#MetadataEditorAttributeEntryWrong {
  background: #FF0000;
}

#MetadataEditorShowAttributeSample {
  background: #00FF00;
  color : #FF0000;
}
